version: '3.8'

services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: law-db-qdrant
    ports:
      - "6333:6333"
    volumes:
      - ./qdrant_data:/qdrant/storage
    restart: always
    environment:
      - QDRANT__SERVICE__GRPC_PORT=6334
